*{
    margin:0;
    padding: 0;
}

/*----------------- Navigation Menu ------------------*/

header{
    width:98.9vw;
    height:100vh;
    background-image: url("house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 8px solid #ec4141;
}
.header-content{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}

.header-content{
    box-shadow: 3px 3px 15px 5px  blue;
} 

.logo{
width:50%;
}
.logo h1{
    padding-left: 20%;
}
.logo a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    color:white;
}
.logo .logo-title:hover{
    border-bottom:1px solid white;
}
.logo i{
    margin-right:20px;
    font-size:40px;
    color:white;
}
.navbar{
    width: 50%;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.nav-items li:last-child{
    padding-right:20% ;
}
.nav-items li{
    list-style-type: none;
}
.nav-items li a{
    text-decoration: none;
    font-size:18px;
    color:white;
    margin-right: 40px;
}
.nav-items li a:hover{
    border-bottom:2px solid #ec4141;
    font-size: 18px;
    color: #ec4141;
    padding-left: 3px;
}
.nav-items .active{
    border-bottom:2px solid #ec4141;
}

/*------------------ Header Template ----------------------*/
.header-container{
    color:white;
    width: 35%;
    position: relative;
    top: 20%;
    left: 5%;
}
.header-container h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.header-container h1 .first-text{
    border-bottom: 3px solid white;
}
.header-container .second-text{
    color:rgba(249,0,0,0.7);
    margin-right: 5px;
}
.header-container p{
    font-size: 24px;
    font-family: monospace;
}


/*---------------- Section 1 --------------*/
.section1{
    width: 98.9vw;
    height: 400px;
    background-color: #CDCDCD;
    box-shadow: 3px 3px 20px 5px  rgb(0, 0, 0, 1);
}
.section1 .first-div{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.first-div .div1-content{
    width: 25%;
    text-align: center;
}
.section1 .first-div .icon1{
    font-size: 40px;
    color:black;
    padding-bottom:10px;
}
.first-div .div1-content h1{
    font-size:30px;
    color: black;

}
.div1-content p{
    font-size: 22px;
    color:white;
    font-family:'candara';
}
.section1 .second-div{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}
.section1 .second-div .div2-content{
    width: 40%;
}
.section1 .second-div .icon2{
    font-size: 40px;
    color:black;
    padding-left:80px;
    padding-bottom:10px
}
.second-div .div2-content h1{
    text-align: center;
}
.div2-content p{
    font-size: 22px;
    color:white;
    font-family:'candara';
    text-align: center;
}

.container1{
    margin:0px 20%;
}
.container2{
    margin:0px 30%;
}

/*-----------------End of Section1---------------*/

/*------------------ Section 2 -----------------*/
.section2{
    width: 98.9;
    height: auto;
    margin-top:10px;

}
.triangle{
    margin: auto 0; 
    width: 0;
    height: 0;
    border:50px solid transparent;
    border-left-color:darkblue ;
    background-color: #E7E7E9;
}
.section2 .content{
    display: flex;
    justify-content: space-between;
    background-color: #E7E7E9;
}

.section2 .image{
    padding-top: 100px;
    padding-left:170px;
    background-color: darkblue;
}

.feature1,
.feature2,
.feature3{
    padding: 50px 0px;
    text-align: center;
}

.feature2 img{
    background-color: #E7E7E9;
}
.feature1 span,
.feature2 span,
.feature3 span{
    font-size:30px;
    font-weight: bold;
    padding-left: 10px;
    color:darkblue
}
.feature1 p,
.feature2 p,
.feature3 p{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}


/*--------------- End of Section 2 --------------*/
